
a {
    text-decoration: none;
    color: inherit;
}

.board_wrap {
    width: 90%;
    margin: 5px auto;
}

.board_title {
    margin-bottom: 10px;
}

.board_title strong {
    font-size: 2rem;
}

.board_title p {
    margin-top: 5px;
}

.bt_wrap {
    margin-top: 10px;
    text-align: center;
    font-size: 0;
}

.bt_wrap a {
    display: inline-block;
    min-width: 70px;
    margin-left: 10px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 2px;
    font-size: 1.0rem;
}

.bt_wrap a:first-child {
    margin-left: 0;
}

.bt_wrap a.on {
    background: #000;
    color: #fff;
}

.board_list {
    width: 100%;
    border-top: 2px solid #000;
}

.board_list > div.top {
    border-bottom: 1px solid #999;
}
.board_page {
    margin-top: 10px;
    text-align: center;
    font-size: 0;
}

.board_page a {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-left: 0;
    line-height: 100%;
}

.board_page a.bt {
    padding-top: 10px;
    font-size: 1rem;
    letter-spacing: -1px;
}

.board_page a.num {
    padding-top: 5px;
    font-size: 1rem;
}

.board_page a.num.on {
    border-color: #000;
    background: #000;
    color: #fff;
}

table{
    width: 100%;
    border-top: 1px solid #444444;
    border-collapse: collapse;
}
tr{
    border-bottom: 1px solid #444444;
    border-left: 1px solid #444444;
    padding: 10px;
}
tr:first-child, td:first-child {
    border-left: none;
  }