@CHARSET "UTF-8";
.name {
	margin:10px;
	
}
.list1 {
	color: #fff;
	background: #7FB3FA;
	border-top: 1px solid;
	border-bottom:1px solid;
	
}
.list2 {
	background: #fff;
	border-bottom:1px solid;
	border-color: #E1DCDC;
}
.check2 {
	width: 75;
	font-family: 돋움;
	background-color:#7FB3FA;
	width: 50px;
	height: 25px;
	border: 0px;
	outline: none;
	color: white;
}
#searchOption {
	height: 25px;
	width: 125px;
	margin: 10px;
	border: 1px solid #7FB3FA;
	background: #ffffff;
	height: 25px;
}
#keyword {
	border: 1px solid #7fb3fa;
	background: #ffffff;
	height: 25px;
}
.text {
	background-color:#7FB3FA;
	width: 70px;
	height: 25px;
	border: 0px;
	outline: none;
	color: white;
}
.textb {
	border: 1px solid #8D8D8C;
	}
.write {
	background-color:#7FB3FA;
	width: 75px;
	height: 25px;
	border: 0px;
	outline: none;
	color: white;
}
.listp {
	background-color:#7FB3FA;
	width: 50px;
	height: 25px;
	border: 0px;
	outline: none;
	color: white;
}
.asd{
	position: relative;
	top:10px;
	left: 10px;
}