/* header */
header .logo {
	text-align: center;
	padding-top: 30px;
	margin-left: 150px;
	margin-bottom: 10px;
}

header .login {
	padding: 20px;
	float: right;
	font-family: 'Nanum Gothic', sans-serif;
	word-spacing: 5px;
	/* 글자 사이의 간격*/
	font-size: 20px;
}

header .login a {
	/*하이퍼링크 된곳 css 효과 */
	text-decoration: none;
	/*원래 하이퍼링크가 걸리면 밑줄
    선이 생긴다. 이 밑줄선을 제거하는 효과 */
	color: #333;
	/*하이퍼링크 된곳 글자색 지정*/
}

header .login a:hover {
	/* 하이퍼링크 된곳 마우스 오버시 css효과*/
	color: rgb(86, 221, 255);
}

header .search {
	text-align: center;
	width: 200px;
	margin-left: 70px;
}

header .search>input {
	width: 500px;
	border: 1px solid #000000;
	border-radius: 15px;
	padding: 10px 12px;
	font-size: 14px;
	margin-left: 615px;
}

header .search a {
	position: absolute;
	top: 97px;
	left: 1150px;
	margin-top: 0px;
}

/* //header */