@charset "UTF-8";

/* 상품 위 검색 결과 섹션 */
.search-result-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.search-result-header .total {
    color: #888;
}

.search-result-header .total span {
    /* 검색결과 개수 강조 */
    color: #ff682c;
}

html, body {
   overflow-x: hidden;
   background-color: #ffffff;
   font-size: 18px;
   color: #333;
   min-height: 100%;
   min-width: 100%;
   font-family: 'Nanum Gothic', sans-serif;
}

input {
   font-size: 18px;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

/* //기본 설정 */
#wrapper {
   min-height: 100%;
   position: relative;
}
/* header */
header {
   position: relative;
}

header .logo {
   position: relative;
   text-align: center;
   left: 37%;
   padding-bottom: 20px;
   width: 500px;
}

header .login {
   position: relative;
   width: 100%;
   float: left;
   font-family: 'Nanum Gothic', sans-serif;
   word-spacing: 8px;
   /* 글자 사이의 간격*/
   font-size: 14px;
   text-align: right;
   padding-top: 1%;
   right: 2%;
}

header .login a {
   /*하이퍼링크 된곳 css 효과 */
   text-decoration: none;
   /*원래 하이퍼링크가 걸리면 밑줄
    선이 생긴다. 이 밑줄선을 제거하는 효과 */
   color: #333;
   /*하이퍼링크 된곳 글자색 지정*/
}

header .login a:hover {
   /* 하이퍼링크 된곳 마우스 오버시 css효과*/
   color: rgb(86, 221, 255);
}

/* nav */
.nav {
   position: absolute;
   left: 33%;
}

.nav ul {
   list-style: none;
   /* 목록 앞 점 없앰 */
   font-family: 'Nanum Gothic', sans-serif;
   font-weight: 100;
   /*글자를 굵게 */
}

.nav li {
   float: left;
   /* 목록 수직정렬을 수평정렬로 바꿈*/
   margin: 0px 15px;
   /*상하 바깥여백을 0픽셀,좌우 바깥여백
    을 5픽셀 */
   font-size: 25px;
   /*글자크기*/
}

.nav a {
   /* 메뉴 하이퍼링크 된곳 css 효과 */
   display: block;
   text-decoration: none;
   /*밑줄선 제거*/
   color: #333;
   /*글자색*/
}

.nav a:hover {
   /*하이퍼링크 된곳 마우스 오버시 css 효과*/
   color: rgb(86, 221, 255);
}

/* //nav */
#wrap {
   min-height: 100vh;
}

#container {
   position: relative;
   margin-top: 80px;
   margin-bottom: 100px;
}

#container>#contents {
   position: relative;
  
}

/* 상단 검색창 */
.app-car-search-form {
   width: 100%;
   height: 500px;
}

.sc5 {
   width: 900px;
   height: 100px;
   border-radius: 10px;
}

.search-form-top .inner {
   border: solid 1px #ffffff;
   border-radius: 30px;
   background-color: #fff;
   position: relative;
   width: 800px;
   margin: 0 auto;
   opacity: 0.8;
   margin-top: 2%;
   margin-left: 45%;
}

.search-form-top .search-area-form {
   /* 검색창 전체 */
   display: flex;
}

.search-form-top .search-area-form .form-column {
   /* 검색창 항목별 구역 */
   display: flex;
   justify-content: center;
   flex-direction: column;
   position: relative;
   min-width: 300px;
   padding-left: 3%;
}

.search-form-top .search-area-form .btn-form-search, .search-form-top .search-area-form .form-column
   {
   height: 90px;
}

.search-form-top .search-area-form .form-column .title {
   /* 검색창 항목별 제목 */
   margin-bottom: 10px;
   color: #000000;
   font-size: 15px;
   font-family: 'Nanum Gothic', sans-serif;
}

.search-form-top .search-area-form .form-column .text {
   /* 내용 */
   position: relative;
}

.search-form-top .search-area-form .form-column .text strong {
   font-size: 16px;
   font-weight: 400;
   text-overflow: ellipsis;
   white-space: nowrap;
   overflow: hidden;
   display: block;
}

select {
   width: 100%;
   padding: 0.5em 0.5em;
   border: 1px solid #999;
   font-family: inherit;
   border-radius: 0px;
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
}

.search-form-top .search-area-form .btn-form-search {
   /* 검색창 오른쪽 검색변경 버튼 */
   display: flex;
   align-items: center;
   justify-content: center;
   font-family: 'Nanum Gothic', sans-serif;
   font-weight: 400;
   font-size: 17px;
   width: 150px;
   height: 50px;
   margin-top: 24px;
   margin-left: 20px;
   background: #5dbeff;
   border-radius: 10px;
   color: #ffffff;
}

a {
   cursor: pointer;
   color: inherit;
   text-decoration: none;
   -webkit-tap-highlight-color: transparent;
}

/* 검색창 아래 본문 */
#container .contents-area {
   display: flex;
   flex-wrap: wrap;
   width: 1200px;
   margin: 0 auto 80px;
}

/* 검색창 바로 아래 */
#container
 
.contents-area
 
.breadcrumbs
,
#container
 
.contents-area
>
div
:not

   
(
.contents
 
)
:not
 
(
.aside
 
)
{
flex
:
 
1
100%;
}
ul {
   display: block;
   list-style-type: disc;
   margin-block-start: 1em;
   margin-block-end: 1em;
   margin-inline-start: 0px;
   margin-inline-end: 0px;
   padding-inline-start: 40px;
}

li {
   list-style-type: none;
}

/* 페이지 섹션 */
.pagination {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-top: 30px;
}

.c-pagination .pagination-first, .c-pagination .pagination-prev {
   font-size: 0;
   background-color: #ccc;
   background-position: 50% 50%;
   background-repeat: no-repeat;
}

.c-pagination .pagination-first {
   /* [<<] 버튼 */
   background-size: auto 12px !important;
   background-image: url(resources/images/lleft.png);
}

.c-pagination .pagination-prev {
   /* [<] 버튼 */
   background-size: auto 10px !important;
   background-image: url(resources/images/left.png);
}

.c-pagination .pagination-last, .c-pagination .pagination-next {
   font-size: 0;
   background-color: #ccc;
   background-position: 50% 50%;
   background-repeat: no-repeat;
}

.c-pagination .pagination-next {
   /* [>] 버튼 */
   background-size: auto 10px !important;
   background-image: url(resources/images/r.png);
}

.c-pagination .pagination-last {
   /* [>>] 버튼 */
   background-size: auto 12px !important;
   background-image: url(resources/images/rr.png);
}

.c-pagination .page-item {
   display: inline-flex;
   align-items: center;
   justify-content: center;
   width: 30px;
   height: 30px;
   border-radius: 5px;
   margin-left: 5px;
}

.pagination a {
   color: #888;
}

.pagination a, .pagination strong {
   display: inline-flex;
   align-items: center;
   justify-content: center;
   width: 30px;
   height: 30px;
   border-radius: 5px;
}

.c-pagination .pagination-page.active {
   /* 현재 페이지 */
   color: #fff;
   background: #5dbeff;
}

.c-pagination .pagination-page {
   color: #888;
}

.c-pagination .pagination-page.active .page-link {
   color: #fff;
}

.product {
   margin-top: 20px;
   float: left;
   height: 230px;
   border-bottom: solid 1px #d1cece;
   
}

.product-list {
   position: relative;
   width: 100%;
   float: left;
}

.pro1 {
   position: relative;
   width: 100%;
}

.product-list li {
   
   list-style: none;
   width: 100%;
}

.pro {
   width: 100%;
   margin-top: 35px;
   margin-left: 20px;
   font-size: 20px;
}


/*상품 리스트용 css*/

.each_room {
    /* 각각의 룸 */
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    background-color: #FFFFFF;
    border-radius: 34px;
    padding: 40px 40px 0 10%;
}
.room_content {
    /* 사진 + 가격 */
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    gap: 40px;
    margin-top: 40px;
    margin-bottom: 4px;
    width: 1000px;
}

.room_content_left {
    /* 왼쪽(사진  + 사진 아래 설명 + 더보기) */
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    min-width: 500px;
}

.room_pic {
    /* 객실 사진 */
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 400px;
    height: 220px;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
}

.room_img {
    /* 객실 사진 img 태그 */
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.room_condition {
    /* 사진 아래 룸 컨디션 설명 */
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: hidden;
    padding: 0 4px;
}

.room_condition_span {
    font-size: 18px;
    font-weight: 1000;
    letter-spacing: -0.02em;
    white-space: pre-wrap;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.more_condition {
    /* 객실 정보 더보기 버튼 */
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 99px;
    border: 0;
    overflow: hidden;
    cursor: pointer;
    color: #141719;
    background-color: transparent;
    -webkit-text-decoration: underline;
    text-decoration: underline;
    border-radius: 8px;
    height: 33px;
    padding: 0px 8px;
    height: 18px;
    padding: 0;
    border-radius: 0;
}

.more_condition>div {
    padding: 0;
}

.more_condition_2 {
    padding: 0px;
}

.more_condition_3 {
    font-size: 14px;
    font-weight: 500;
    line-height: 138%;
    letter-spacing: -0.01em;
    white-space: pre-wrap;
}

.more_condition_span {
    /* 객실 정보 더보기 span */
    font-size: 13px;
    font-weight: 500;
    line-height: 138%;
    letter-spacing: -0.02em;
    white-space: pre-wrap;
}

.room_content_right {
    /* 오른쪽(가격 + 예약하기) */
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-start;
    width: 100%;
    gap: 58px;
}
.reserve_area {
    /* 오른쪽(가격 + 예약하기) */
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    padding: 24px 20px;
    border-top: 0.5px solid #e9ecef;
}



.reserve_area>*:not(:last-of-type) {
    margin-right: 48px;
}
.free_cancel_box {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    gap: 3px;
}

.free_cancel_box {
    /* 중앙 무료취소 부분 */
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
    overflow: hidden;
}

.free_cancel {
    /* 하늘색 배경 무료취소 표시 */
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    min-height: 22px;
}


.free_cancel_entire_span {
    border-radius: 6px;
}

.free_cancel_entire_span {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 25px;
    padding: 0 6px;
    border-radius: 8px;
}
.free_cancel_entire_span>*:not(:last-of-type) {
    margin-right: 4px;
}

.free_cancel_span {
    font-size: 13px;
    font-weight: 500;
    line-height: 138%;
    letter-spacing: -0.02em;
}


.perksList {
    padding: 0 4px;
    gap: 3px;
}

.perksList {
    /* 무료취소 아래 */
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
}
ul,
ol,
dl {
    list-style: none;
    margin: 0;
    padding: 0;
}

.perk {
    /* 무료취소 아래 각 라인 */
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    list-style: none;
    height: 18px;
}


.perk_content {
    font-size: 13px;
    font-weight: 600;
    line-height: 138%;
    letter-spacing: -0.02em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.reserve_right {
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.reserve_right {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: flex-end;
    -webkit-box-align: flex-end;
    -ms-flex-align: flex-end;
    align-items: flex-end;
}


.reserve_right>*:not(:last-of-type) {
    margin-bottom: 0;
    margin-right: 54px;
}
.price_box {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
}

.price_box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: flex-end;
    -webkit-box-align: flex-end;
    -ms-flex-align: flex-end;
    align-items: flex-end;
}

.price_box>*:not(:last-of-type) {
    margin-bottom: 4px;
}

.price {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}



.price_span {
    font-size: 20px;
    font-weight: 700;
    line-height: 124%;
    letter-spacing: -0.01em;
}

.price_span {
    font-size: 18px;
    font-weight: 700;
    line-height: 124%;
    letter-spacing: -0.01em;
    color: #141719;
    text-align: right;
}


.room_reserve_btn_area {
    /* 예약하기 버튼 */
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}


.room_reserve_btn {
    height: 40px;
    padding: 9px 16px;
}

.room_reserve_btn {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-radius: 99px;
    border: 0;
    overflow: hidden;
    cursor: pointer;
    background-color: #141719;
    color: #FFFFFF;
    height: 48px;
    padding: 0px 16px;
    width: auto;
    font-size: 15px;
    font-weight: 600;
    height: 48px;
    border-radius: 24px;
    padding-top: 10px;
}

.room_reserve_btn:hover {
   background-color: #0080ff;

}

.BtnSpan {
   vertical-align : center;
   text-align : center;
}

.Qcal {
    width: 30px;
    height: 30px;
    border : 1px solid white;
    border-radius : 7px;
    background-color : #0080ff;
    color : white;
}