@charset "UTF-8";

html, body {
	overflow-x: hidden;
	background-color: #ffffff;
	font-size: 18px;
	color: #333;
	min-height: 100%;
	min-width: 100%;
	font-family: 'Nanum Gothic', sans-serif;
}

input {
	font-size: 18px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* //기본 설정 */
#wrapper {
	min-height: 100%;
	position: relative;
}
/* header */
header {
	position: relative;
}

header .logo {
	position: relative;
	text-align: center;
	left: 37%;
	padding-bottom: 20px;
	width: 500px;
}

header .login {
	position: relative;
	width: 100%;
	float: left;
	font-family: 'Nanum Gothic', sans-serif;
	word-spacing: 8px;
	/* 글자 사이의 간격*/
	font-size: 14px;
	text-align: right;
	padding-top: 1%;
	right: 2%;
}

header .login a {
	/*하이퍼링크 된곳 css 효과 */
	text-decoration: none;
	/*원래 하이퍼링크가 걸리면 밑줄
    선이 생긴다. 이 밑줄선을 제거하는 효과 */
	color: #333;
	/*하이퍼링크 된곳 글자색 지정*/
}

header .login a:hover {
	/* 하이퍼링크 된곳 마우스 오버시 css효과*/
	color: rgb(86, 221, 255);
}

/* nav */
.nav {
	position: absolute;
	left: 33%;
}

.nav ul {
	list-style: none;
	/* 목록 앞 점 없앰 */
	font-family: 'Nanum Gothic', sans-serif;
	font-weight: 100;
	/*글자를 굵게 */
}

.nav li {
	float: left;
	/* 목록 수직정렬을 수평정렬로 바꿈*/
	margin: 0px 15px;
	/*상하 바깥여백을 0픽셀,좌우 바깥여백
    을 5픽셀 */
	font-size: 25px;
	/*글자크기*/
}

.nav a {
	/* 메뉴 하이퍼링크 된곳 css 효과 */
	display: block;
	text-decoration: none;
	/*밑줄선 제거*/
	color: #333;
	/*글자색*/
}

.nav a:hover {
	/*하이퍼링크 된곳 마우스 오버시 css 효과*/
	color: rgb(86, 221, 255);
}

/* //nav */
#wrap {
	min-height: 100vh;
}

#container {
	position: relative;
	top: 100px;
}

#container>#contents {
	position: relative;
}

/* 상단 검색창 */
.app-car-search-form {
	width: 100%;
	height: 500px;
}

.sc5 {
	width: 900px;
	height: 100px;
	border-radius: 10px;
}

.search-form-top .inner {
	border: solid 1px #ffffff;
	border-radius: 30px;
	background-color: #fff;
	position: relative;
	width: 800px;
	margin: 0 auto;
	opacity: 0.8;
	margin-top: 2%;
	margin-left: 45%;
}

.search-form-top .search-area-form {
	/* 검색창 전체 */
	display: flex;
}

.search-form-top .search-area-form .form-column {
	/* 검색창 항목별 구역 */
	display: flex;
	justify-content: center;
	flex-direction: column;
	position: relative;
	min-width: 300px;
	padding-left: 3%;
}

.search-form-top .search-area-form .btn-form-search, .search-form-top .search-area-form .form-column
	{
	height: 90px;
}

.search-form-top .search-area-form .form-column .title {
	/* 검색창 항목별 제목 */
	margin-bottom: 10px;
	color: #000000;
	font-size: 15px;
	font-family: 'Nanum Gothic', sans-serif;
}

.search-form-top .search-area-form .form-column .text {
	/* 내용 */
	position: relative;
}

.search-form-top .search-area-form .form-column .text strong {
	font-size: 16px;
	font-weight: 400;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	display: block;
}

select {
	width: 100%;
	padding: 0.5em 0.5em;
	border: 1px solid #999;
	font-family: inherit;
	border-radius: 0px;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

.search-form-top .search-area-form .btn-form-search {
	/* 검색창 오른쪽 검색변경 버튼 */
	display: flex;
	align-items: center;
	justify-content: center;
	font-family: 'Nanum Gothic', sans-serif;
	font-weight: 400;
	font-size: 17px;
	width: 150px;
	height: 50px;
	margin-top: 24px;
	margin-left: 20px;
	background: #5dbeff;
	border-radius: 10px;
	color: #ffffff;
}

a {
	cursor: pointer;
	color: inherit;
	text-decoration: none;
	-webkit-tap-highlight-color: transparent;
}

/* 검색창 아래 본문 */
#container .contents-area {
	display: flex;
	flex-wrap: wrap;
	width: 1200px;
	margin: 0 auto 80px;
}

/* 검색창 바로 아래 */
#container
 
.contents-area
 
.breadcrumbs
,
#container
 
.contents-area
>
div
:not

	
(
.contents
 
)
:not
 
(
.aside
 
)
{
flex
:
 
1
100%;
}
ul {
	display: block;
	list-style-type: disc;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
	padding-inline-start: 40px;
}

li {
	list-style-type: none;
}

/* 페이지 섹션 */
.pagination {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 100px;
}

.c-pagination .pagination-first, .c-pagination .pagination-prev {
	font-size: 0;
	background-color: #ccc;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.c-pagination .pagination-first {
	/* [<<] 버튼 */
	background-size: auto 12px !important;
	background-image: url(resources/images/lleft.png);
}

.c-pagination .pagination-prev {
	/* [<] 버튼 */
	background-size: auto 10px !important;
	background-image: url(resources/images/left.png);
}

.c-pagination .pagination-last, .c-pagination .pagination-next {
	font-size: 0;
	background-color: #ccc;
	background-position: 50% 50%;
	background-repeat: no-repeat;
}

.c-pagination .pagination-next {
	/* [>] 버튼 */
	background-size: auto 10px !important;
	background-image: url(resources/images/r.png);
}

.c-pagination .pagination-last {
	/* [>>] 버튼 */
	background-size: auto 12px !important;
	background-image: url(resources/images/rr.png);
}

.c-pagination .page-item {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 30px;
	height: 30px;
	border-radius: 5px;
	margin-left: 5px;
}

.pagination a {
	color: #888;
}

.pagination a, .pagination strong {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	width: 30px;
	height: 30px;
	border-radius: 5px;
}

.c-pagination .pagination-page.active {
	/* 현재 페이지 */
	color: #fff;
	background: #5dbeff;
}

.c-pagination .pagination-page {
	color: #888;
}

.c-pagination .pagination-page.active .page-link {
	color: #fff;
}

.product {
	margin-top: 20px;
	float: left;
	height: 230px;
	border-bottom: solid 1px #d1cece;
	
}

.product-list {
	position: relative;
	width: 100%;
	float: left;
}

.pro1 {
	position: relative;
	width: 100%;
}

.product-list li {
	
	list-style: none;
	width: 100%;
}

.pro {
	width: 100%;
	margin-top: 35px;
	margin-left: 20px;
	font-size: 20px;
}
